body {
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif !important;
    margin: 0;
    padding: 0;
}

a {
    color: #312e3d;
    text-decoration: underline;
}

.container {
    margin: 0px auto;
    max-width: 1260px;
    width: 100%;
    flex: 1 1 0%;
    padding-top: 100px;
}

/* NAV */
.nav {
    z-index: 100;
    margin: 0;
    width: 100%;
    height: 75px;
    /*padding: 1.3rem 1rem;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    /*background-color: #fff;*/
    color: #46444e;
    transition: all .3s ease;
}

.nav-active {
    background-color: #fff;
    box-shadow: 8px 5px 10px rgba(0,0,0,.2);
}

.nav .logo {
    transition: all .3s ease;
    font-size: 2rem;
}
.nav-active .logo {
    font-size: 1.5rem;
}

.nav-menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-link {
    text-decoration: none;
}
.nav-item:hover {
    font-weight: 500;
}

.nav-item {
    padding: 1.5rem;
    cursor: pointer;
}

.toggleBtn {
    display: none;
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 2rem;
}

/* CIKKEK */
.cikkek img {
    max-width: 100%;
}

.blog a {
    color: #333;
}
.blog a:hover {
    color: #555;
}

/* FOOTER */
.footer {
    margin-top: 2rem;
    width: 100%;
    padding: 0;
}
.footerTop {
    background-color: rgb(235, 235, 235);
    padding: 10px 20px;
}
.footerTop .footerLinks {
    display: flex;
    align-items: center;
    gap: 8rem;
}
.footerLinks .footerLinksRow {
    display: flex;
    flex-direction: column;
}
.footerLinksRow a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}
.footerLinksRow a:hover {
    color: rgb(0, 0, 0);
}
.footerBottom {
    background-color: rgb(220, 220, 220);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 70%px;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 880px;
    }
    .nav .logo {
        font-size: 1rem;
    }
    .nav-active .logo {
        font-size: .8rem;
    }
    .nav-right {
        width: 60%;
        font-size: .9rem;
    }
    .nav-right {
        position: absolute;
        width: 100%;
    }
    .nav-menu {
        z-index: 99;
        top: -500px;
        display: block;
        position: absolute;
        width: 100%;
        background-color: #fff;
        box-shadow: 8px 5px 10px rgba(0,0,0,.2);
        transition: all .2s ease;
    }
    .nav-menu-active {
        top: 20px;
    }
    .nav-item {
        padding: 0;
    }
    .nav-item a {
        padding: 1.2rem;
        display: block;
        height: 100%;
        width: 100%;
    }
    .nav-item a:hover {
        background-color: rgb(219, 219, 219);
    }
    .toggleBtn {
        display: block;
	color: #111;
	font-size: 2rem;
    }
}