body {
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif !important;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.container {
    margin: 0px auto;
    max-width: 1260px;
    width: 100%;
    flex: 1 1 0%;
}

/* NAV */
.nav {
    z-index: 100;
    margin: 0;
    width: 100%;
    height: 75px;
    /*padding: 1.3rem 1rem;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.nav-menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    padding: 1.5rem;
}

/* CIKKEK */
.cikkek img {
    max-width: 100%;
}

.blog a {
    color: #333;
}
.blog a:hover {
    color: #555;
}